*.rc
*.user
*.vcxproj
*.filters
*.APS
*.cbp
*.cscope_file_list
*.depend
*.layout
*.obj
*.stackdump
resource.h
/x64/*
obj/*
bin/*
FMT.dir/*
Release/*
Debug/*
CMakeFiles/*
cmake_install.cmake
install_manifest.txt
CMakeCache.txt
*.autotools
*.sln
GDAL_DATA/*
RCa06500
*.dll
*.a
*.def
Makefile
*.pyd
*.mps
*.lp
gdal/*
*.exe
*.cproject
*.project
.settings/*
/build/
compile_commands.json
.cmake/*
/Examples/C++/tests/BFECtests.csv
.vscode/*
*html
*latex
external/*
# On ajoute le ui dans Github a la demande de tommy
# UI/Include/*
# UI/Source/*

### vscode ###
.vs/*

### vcpkg ###
vcpkg/
vcpkg-manifest-install.log

## Manifest Mode
vcpkg_installed/

### out et ui ###
out/
# UI/ On ajoute le ui dans Github a la demande de tommy